
<div class="wrap_content_box">

<p>second-step works!</p>



<p>first-step works!</p>



<form [formGroup]="addressSection" class="form_section"(ngSubmit)="submit()">
    
    
    <label>
        País:
        <input type="text" formControlName="country">
    
        <div *ngIf="!addressSection.controls.country.value && addressSection.controls.country.touched" class="error_msg">
                    Insira o País</div>
    
        <div *ngIf="addressSection.controls.country?.errors?.['minlength'] && addressSection.controls.country.touched" class="error_msg">
                    O país deve ter ao menos 5 caracteres</div>
    
    
      </label>

<label>
    Estado:
    <input type="text" formControlName="state">

    <div *ngIf="!addressSection.controls.state.value && addressSection.controls.state.touched" class="error_msg">
                Insira o Estado</div>

    <div *ngIf="addressSection.controls.state?.errors?.['minlength'] && addressSection.controls.state.touched" class="error_msg">
                O nome do estado deve ter ao menos 5 caracteres</div>


  </label>
<label>
    Cidade:
    <input type="text" formControlName="city">

    <div *ngIf="!addressSection.controls.city.value && addressSection.controls.city.touched" class="error_msg">
        Insira a cidade</div>

    <div *ngIf="addressSection.controls.city?.errors?.['minlength'] && addressSection.controls.city.touched" class="error_msg">
        O nome da cidade deve ter ao menos 5 caracteres</div>

  </label>
<label>
    Código Postal:
    <input type="text" formControlName="postalCode">
    <div *ngIf="!addressSection.controls.postalCode.value && addressSection.controls.postalCode.touched" class="error_msg">
        Insira o código postal</div>

  </label>


<label>
    Telefone:
    <input type="text" formControlName="postalCode">
    <div *ngIf="!addressSection.controls.postalCode.value && addressSection.controls.postalCode.touched" class="error_msg">
        Insira o número de telefone</div>

  </label>

  <label>
    Desejo receber mensagens sobre promoções:
    <input type="checkbox" formControlName="receivePromotions">

  </label>
<button type="submit" *ngIf="addressSection.valid  "
                            >Próximo</button>

</form>


<button (click)="testLog()">Log Test</button>

</div>
