<main>
<div class="wrap_content_box">




<form [formGroup]="nameSection" class="form_sac form_section area_form"(ngSubmit)="submit()">
    
    
    <label>
        E-mail*:
        <input type="text" formControlName="email" maxlength="50" size="30">
    
        <div *ngIf="!nameSection.controls.email.value && nameSection.controls.email.touched" class="error_msg">
                    Insira o E-mail</div>
    
        <div *ngIf="nameSection.controls.email?.errors?.['minlength'] && nameSection.controls.email.touched" class="error_msg">
                    O email deve ter ao menos 5 caracteres</div>
    
        <div *ngIf="nameSection.controls.email?.errors?.['email'] && nameSection.controls.email.touched" class="error_msg">
                    Insira um e-mail válido</div>
    
      </label>

<label>
    Nome*:
    <input type="text" formControlName="firstName" maxlength="30" size="30">

    <div *ngIf="!nameSection.controls.firstName.value && nameSection.controls.firstName.touched" class="error_msg">
                Insira o Nome</div>

    <div *ngIf="nameSection.controls.firstName?.errors?.['minlength'] && nameSection.controls.firstName.touched" class="error_msg">
                O nome deve ter ao menos 3 caracteres</div>


  </label>
<label>
    Sobrenome*:
    <input type="text" formControlName="lastName" maxlength="30" size="25">

    <div *ngIf="!nameSection.controls.lastName.value && nameSection.controls.lastName.touched" class="error_msg">
        Insira o Sobrenome</div>

    <div *ngIf="nameSection.controls.lastName?.errors?.['minlength'] && nameSection.controls.lastName.touched" class="error_msg">
        O nome deve ter ao menos 3 caracteres</div>

  </label>

</form>


<div *ngIf="nameSection.valid then thenBlock else elseBlock">
</div>
    <ng-template #thenBlock>
        <div class="area_forward">
        <a   [routerLink]="['/second-step']"
        class="back_foward_btn" role="button" (click)="submit()">Prosseguir</a>
        </div>
    </ng-template>
            
    <ng-template #elseBlock>
        <div class="area_forward">
        <p
        class="back_foward_btn back_foward_btn_inactive" >Prosseguir</p>
        </div>
    </ng-template>




</div>

</main>