

.content_wrap{
    width: 100%;
    display:grid;
    grid-template-columns: auto;
    justify-items: center;
    justify-content: center;

    *{
        max-width: 600px;
    }
}

header{
    
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    margin: 2rem 0 5rem 0;
}

footer{
    width: 100%;
    margin-top: 1rem;;
    background-color: lightgray;
    padding:2rem;
    height:5rem;
}

.main_logo{
    width: 200px;
}

main{
    display: flex;
    border:1px solid black;
    min-width: 600px;
    min-height: 300px;
    padding:2rem;
}



.form_sac{
    display:grid;
    grid-template-columns: auto;
    justify-content: center;
    align-content: center;
    

    label{
        margin: 1rem;
    }
}